/*grid.css, defining layout grid for gluten free living site */
html, body {
	margin: 0;
	padding: 0;
} /* Reset default margin and padding applied by browser - usually 8px. 
	Comma between selector html and body means "OR" */


[class*='col-'] {
	float: left;
	padding: 0;
	/*text-align: center; */
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-siziing: border-box;
	box-sizing: border-box;
} 

.grid:after {
	content: "";
	display: block;
	clear: both;
}

.col-1of2 {
	width: 50%;
}

.col-1of6 {
	width: 16%;
}

/* iPad and other tablets using 1024x768px resolution - resize */

@media (max-width: 768px) {
	.col-1of6 {
		width: 100%;
	}

	.navigation {
		width: 100%;
	}

	.logo{
		display: none;
	}

	nav a{
		border-top: solid 1px #45C0BF;
		border-opacity: 0.7;
		text-align: center;
		font-size: 1rem;
		color: #45C0BF;
		text-decoration: none;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.account {
		display: none;
	}

	button{
		font-size: 1rem;
		font-weight: normal;
		margin: 0;
		padding: 0;
	}


	#signUp {
		color: #F39C12;
		width: 49.4%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: white;
		border: none;
	}

	#signUp:hover{
		background-color: #F39C12;
		color: white;
		-webkit-transition: all 0.15s ease;
	  	transition: all 0.25s ease;
	  
	  	-webkit-user-select: none;
	  	-moz-user-select: none;
	  	-ms-user-select: none;
	  	user-select: none;
	  
	  	-webkit-appearance: none;
	  	-webkit-font-smoothing: antialiased;
	  	text-rendering: optimizeLegibility;
	}

	#signUp:active {
		-webkit-box-shadow: none;
  		box-shadow: none;
  		text-decoration: none;
	}



	#logIn {
		color: #F39C12;
		width: 49.4%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: white;
		border: none;
	}

	 #logIn:hover{
		background-color: #F39C12;
		color: white;
		-webkit-transition: all 0.15s ease;
	  	transition: all 0.25s ease;
	  
	  	-webkit-user-select: none;
	  	-moz-user-select: none;
	  	-ms-user-select: none;
	  	user-select: none;
	  
	  	-webkit-appearance: none;
	  	-webkit-font-smoothing: antialiased;
	  	text-rendering: optimizeLegibility;
	}


}

@media (max-width: 664px) {
	#signUp {
		width: 100%;
		border-bottom: solid 1px #F39C12 ;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;

	}

	#logIn {

		width: 100%;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}
}

/* mobile devices resolution - resize */

@media (max-width: 495px) {
	.banner {
		display: none;
	}

	nav a{
		font-size: .9rem;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
	}

	#signUp{
		font-size: .9rem;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}

	#logIn{
		font-size: .9rem;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}
}




