a:active, a:focus,input, input:active, input:focus{     outline: 0;     outline-style:none;     outline-width:0; }  
a:active, a:focus,button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner 
{     border: none; }

body {
	font-family: Open Sans;
	font-size: 16px; 
	color:#4D5D66;
}

h1{
	font-size: 1.5rem;
	color: #67222C;
	margin-top: 0.5rem;
	font-weight: 800;
}

h2{
	font-size: 1.2rem;
	color: #67222c;
	margin-top: 0.5rem;
	font-weight: 600;
}

#container{
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
	border: none;
}

#top{
	width: 100%;
	min-height: 90px;
	margin-bottom: 0.3rem;
	padding: 0rem;
	background: white;
	border-bottom: solid 4px #45C0BF;
}

.logo{
	display: inline-block;
	vertical-align: bottom;
	background: white;
	min-width: 145px;
	width: 24%;
}

.navigation{
	display: inline-block;
	vertical-align: bottom;
	width: 75%;
}

.banner{
	margin: 0;
	padding: 0;
}

.account{
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 0.8rem;
	color: #F39C12;
	margin-top: -1rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}

.account a{
	font-size: 1rem;
	color: #F39C12;
	text-decoration: none;
}

#devider{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

#signUp{
	display: none;
}

#logIn{
	display: none;
}

nav.grid {
	width: 100%;
}
nav a {
	font-size: 1rem;
	display: inline-block;
	background-color: white ;
	text-align: center;
	color: #45C0BF;
	text-decoration: none;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: .5rem;
	width: 100%;
	
} 

nav a:hover, nav a:focus {
	background-color: #45C0BF;
	color: white;
	-webkit-transition: all 0.15s ease;
  	transition: all 0.25s ease;
  
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  
  	-webkit-appearance: none;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;

}



h2 a{
	color: #16A085;
	text-decoration: none;
}

h2 a:active{
	color: #16A085;
}

h2 a:visited{
	color: #16A085;
}

h2 a:hover{
	color: #0c5a4b ;
	text-decoration: none;
}

h3{
	font-size: 0.8rem;
	font-weight: bold;
}

p{
	font-size: 0.75rem;
}


form{
	font-size: 0.75rem;
}

form label{
	display: block;
	margin-top: 1rem;
	padding-left: 0.25rem;
}

form input , form textarea {
	display: block;
	font-size: 0.75rem;
	padding: 0.25rem;
	border: 0.1rem solid #35595E;
}

form input:hover, form textarea:hover {
	border-color: #54BA75;
}


