body {
	font-family: Open Sans;
	font-size: 16px; 
	color:#4D5D66;
}

h1{
	font-size: 1.2rem;
	font-weight: 800;
	color: #67222C;
	margin-top: 0.5rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} /* Idea for styling borrowed from "http://css-tricks.com/simple-styles-for-horizontal-rules" */


.NewArrivals{
	min-height: 8rem;
	padding: .8rem;
	line-height: .5rem;
	padding-bottom: 0;
}

.FeatProducts{
	min-height: 8rem;
	padding: .8rem;
	line-height: .5rem;
	padding-bottom: 0;
}

.FeatRecipes{
	min-height: 8rem;
	padding: .8rem;
	line-height: .5rem;
	padding-bottom: 0;
}

h2{
	font-size: 1.2rem;
	color: #67222c;
	margin-top: 0.5rem;
	font-weight: 600;
}

#container{
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
	border: none;
}

#top{
	width: 100%;
	min-height: 90px;
	margin-bottom: 0.3rem;
	padding: 0rem;
	background: white;
	border-bottom: solid 4px #45C0BF;
}

.logo{
	display: inline-block;
	vertical-align: bottom;
	background: white;
	min-width: 145px;
	width: 24%;
}

.navigation{
	display: inline-block;
	vertical-align: bottom;
	width: 75%;
}

.account{
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 0.8rem;
	color: #F39C12;
	margin-top: -1rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}

.account a{
	font-size: .9rem;
	color: #F39C12;
	text-decoration: none;
}

#devider{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.banner{
	margin: 0;
	padding: 0;
}

#altLogo{
	display: none;
}

#signUp{
	display: none;
}

#logIn{
	display: none;
}

nav.grid {
	width: 100%;
}
nav.grid a {
	font-size: 1rem;
	line-height: 1.2rem;
	display: inline-block;
	background-color: white ;
	text-align: center;
	color: #45C0BF;
	text-decoration: none;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
	width: 100%;
	font-weight: 300;
	
} 


nav.grid a:hover, nav a:focus {
	background-color: #45C0BF;
	color: white;
	font-weight: 400;
	-webkit-transition: all 0.15s ease;
  	transition: all 0.25s ease;
  
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  
  	-webkit-appearance: none;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;

}

nav.grid a:active{
	background-color: #45C0BF;
	color: white;
	font-weight: 400;
}


#cart_Item{
	color: #67222c;
	font-weight: 800;
}

#cart_Item:hover, #cart_Item:focus{
	color: white;
}


/* Top portion of the page ends here - this includes top navigation menu, logo and banner that follows 
   Left navigation and main content starts here */

#leftSidebar{
	margin: 0;
	width: 25%;
	padding-top: 2rem;
	/*padding-left: 0.2rem;*/
	border: 1px solid #eee;
	background-color: white;
	display: inline-block;
	vertical-align: top;
}

nav.sideNav{
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

nav.sideNav a{
	border-top: solid 1px white;
	border-opacity: 0.7;
	font-size: .9rem;
	line-height: 1rem;
	display: block;
	text-align: left;
	background-color: #dbf0f0;
	color: #349898;
	text-decoration: none;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: 300;
}

nav.sideNav a:hover, nav.sideNav a:focus{
	background-color: #45C0BF;
	color: white;
	font-weight: 600;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	padding-left: 1.5rem;
	border-top: solid 1px white;
	border-bottom: solid 1px #eee;

	-webkit-transition: all 0.15s ease;
  	transition: all 0.25s ease;
  
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  
  	-webkit-appearance: none;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}

nav.sideNav a:active{
	background-color: #45C0BF;
	color: white;
	font-weight: 400;
}

#titleRow {
	padding-left: .9rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	background-color: #45C0BF;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
	padding-left: 1rem;
	border-bottom: 2px solid white;

}


#pageContent{
	margin: 0 auto;
	width: 74%;
	padding-top: 2rem;
	padding-left: 0.8rem;
	border: 1px solid #eee;
	min-height: 20rem;
	background-color: white;
	display: inline-block;
	vertical-align: top;
}

/* Left navigation and main content ends here */


#footer{
	clear: both;
	font-size: .8rem;
	color: #c9c9c9;
	/*border-top: 1px solid #efefef;*/
	border-top: 1px solid #45C0BF;
	padding: .8rem;
	line-height: 1.1rem;
}

#footer a{
	color: #c9c9c9;
	text-decoration: none;
	padding-right: 0.4rem;
}

#footer a:hover{
	color: #366373;
}

#footer #footNav{
	clear:both;
	width: 50%;
	float: right;
	text-align: right;
}
